html {
  background: lightsteelblue;
}

.test {
  .subtest {
    color: blue;
    .subsubtest {
      font-size: 4rem;
    }
  }
}
.panels {
  .panel {
    background-color: pink;
    width: 80%;
    min-height: 40vh;
    margin: 40px auto;
    &:first-child {
      background-color: purple;
    }
    &:nth-child(2) {
      background-color: orange;
    }
    &:nth-child(3) {
      background-color: green;
    }
  }
}
